.vscode
.nextflow
.nextflow.log*
work/
input/*
results/*
references/*
manual_piplines
modules/templates
modules/mmseq2_diamond
modules/adapters
plots
backup_temp

nextflow.config
processes_resources.config
