// labels.config
process {
    withLabel: big_mem {
        cpus = 220
        memory = 800.GB
    }
}

process {
    withLabel: med_mem {
        cpus = 20
    }
}
process {
    withLabel: min_mem {
        cpus = 4
    }
}
process {
    withLabel: process_high {
        cpus = 42
        memory = 70.GB
    }
}