// nextflow.config
nextflow.enable.dsl=2
conda.enabled = true
notification.enabled = true

includeConfig 'process_resources.config'
includeConfig 'labels.config'

executor {
    cpus = 230
}

notification {
  to = "luigi.colin@uni-konstanz.de"
  from = "luigi.colin@uni-konstanz.de"
}

profiles {
  conda {
    conda.enable = true
    process.conda = "$baseDir/environment.yaml"
    conda.useMamba = true
    }  
}



manifest {
  description = "pipeline for metagenome sequencing data classification pipeline implemented with nextflow"
  author = "Luigi Colin"
}