// nextflow.config
nextflow.enable.dsl=2
conda.enabled = true
notification.enabled = true

// includeConfig 'process_resources.config'
includeConfig 'labels.config'

// Global default params
params {

    // Input/Output
    input = "${projectDir}/input"
    outdir = "${projectDir}/results"
    input_fq = "${params.input}/*_{1,2}.fq.gz"

    // trim adapter
    adapters = "modules/adapters/Truseq_V.3_edited.fa"
    illuminaclip = "2:30:10:8:TRUE"
    headcrop = 5
    leading = 3
    trailing = 3
    slidingwindow = "4:20"
    minlen = 50

    // bowtie2 references index
    ref_file_aip = '/home/colinl/metaG/Git/metaG_EukDepletion/references/ref_genomes_bowtie2/all_aiptasiidae*'
    ref_file_scl = '/home/colinl/metaG/Git/metaG_EukDepletion/references/ref_genomes_bowtie2/all_scleractina*'
    ref_file_sym = '/home/colinl/metaG/Git/metaG_EukDepletion/references/ref_genomes_bowtie2/all_symbiodiniaceae*'

    //minimap2 references index
    ref_file_aip = '/home/colinl/metaG/Git/metaG_EukDepletion/references/ref_genomes_minimap2_contigs/all_aiptasiidae.mmi'
    ref_file_scl = '/home/colinl/metaG/Git/metaG_EukDepletion/references/ref_genomes_minimap2_contigs/all_scleractinia.mmi'
    ref_file_sym   = '/home/colinl/metaG/Git/metaG_EukDepletion/references/ref_genomes_minimap2_contigs/all_symbiodiniaceae.mmi'

    //megahit setting
    k_min = 27
    k_max = 127

    //kaiju nodes, names and db 
    nodes = '/home/colinl/metaG/Git/metaG_EukDepletion/manual_piplines/reads/bacteria_kaiju/nodes.dmp'
    names = '/home/colinl/metaG/Git/metaG_EukDepletion/manual_piplines/reads/bacteria_kaiju/names.dmp'
    kaiju_db = '/home/colinl/metaG/Git/metaG_EukDepletion/manual_piplines/reads/bacteria_kaiju/kaiju_db_refseq.fmi'

    // CAT db and executable (partial fix due to compatibility issues)
    cat_db = "/home/colinl/databases/CAT/20231120_CAT_gtdb"
    cat_ex = "/home/colinl/databases/CAT/CAT_pack-5.3/CAT_pack/CAT"
  
}

executor {
    cpus = 300
    memory = '1000 GB'
}

notification {
  to = secrets.MAIL_USER
  from =secrets.MAIL_USER
}

profiles {
  conda {
    conda.enable = true
    process.conda = "$baseDir/environment.yaml"
    conda.useMamba = true
    }
}

mail {
    from = secrets.MAIL_USER
    smtp.host = secrets.MAIL_HOST
    smtp.port = secrets.MAIL_PORT
    smtp.user = secrets.MAIL_USER
    smtp.password = secrets.MAIL_PASSWD
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
    smtp.ssl.protocols = 'TLSv1.2'
}

manifest {
  description = "Pipeline for Metagenome sequencing data classification"
  author = "Luigi Colin"
}