// nextflow.config
nextflow.enable.dsl=2

includeConfig 'process_resources.config'
includeConfig 'labels.config'

executor {
    cpus = 230
}

conda.enabled = true


manifest {
  description = "pipeline for metagenome sequencing data classification pipeline implemented with nextflow"
  author = "Luigi Colin"
}

profiles {
  conda {
    conda.enable = true
    process.conda = "$baseDir/environment.yaml"
    conda.useMamba = true
    }  
}
