process {
    withName: kaiju {
        cpus = 25
        memory = 100.GB
    }
    withName: split_bac {
        cpus = 8
        memory = 4.GB
    }
    withName: map2ref {
        cpus = 30
        memory = 60.GB
    }
    withName: split_bam {
        cpus = 60
        memory = 20.GB
    }
    withName: fastp_report {
        cpus = 12
        memory = 6.GB
    }
    withName: ont_trim {
    cpus = 12
    memory = 16.GB
    }
    withName: fasta2fastq {
    cpus = 4
    memory = 10.GB
    }
    withName: megahit_se {
    cpus = 45
    memory = 180.GB
    }
}