process {
    withName: kaiju {
        cpus = 25
        memory = 100.GB
    }
    withName: trimmomatic_pe {
        cpus = 20
        memory = 100.GB
    }    
    withName: kaiju_pe {
    cpus = 20
    memory = 100.GB
    }
    withName: kraken2_pe {
    cpus = 100
    memory = 500.GB
    }
    withName: kraken2 {
    cpus = 150
    memory = 150.GB
    }
    withName: bracken {
    cpus = 25
    memory = 150.GB
    }
    withName: split_bac {
        cpus = 8
        memory = 4.GB
    }
    withName: split_bac_pe {
        cpus = 8
        memory = 4.GB
    } 
    withName: map2ref {
        cpus = 30
        memory = 60.GB
    }
    withName: map2ref_pe {
        cpus = 30
        memory = 60.GB
    }
    withName: split_bam {
        cpus = 60
        memory = 20.GB
    }
    withName: fastp_report {
        cpus = 12
        memory = 6.GB
    }
    withName: ont_trim {
    cpus = 12
    memory = 16.GB
    }
    withName: fasta2fastq {
    cpus = 4
    memory = 10.GB
    }
    withName: megahit_se {
    cpus = 45
    memory = 180.GB
    }
}