process {
    withName: KAIJU_SE {
        cpus = 25
        memory = 100.GB
    }
    withName: TRIMMOMATIC {
        cpus = 15
        memory = 40.GB
    }    
    withName: KAIJU_PE {
    cpus = 20
    memory = 100.GB
    }
    // withName: KRAKEN2_PE {
    // cpus = 40
    // memory = 200.GB
    // }
    withName: KRAKEN2_SE {
    cpus = 40
    memory = 200.GB
    }
    withName: BRACKEN {
    cpus = 25
    memory = 150.GB
    }
    withName: SEQKIT_SPLIT_BAC {
        cpus = 8
        memory = 4.GB
    }
    withName: SEQKIT_SPLIT_BAC_PE {
        cpus = 8
        memory = 4.GB
    } 
    withName: MINIMAP2_MAP {
        cpus = 80
        memory = 200.GB
    }
    // withName: BOWTIE2_MAP {
    //     cpus = 25
    //     memory = 60.GB
    // }
    //withName: BOWTIE2_MAP_VS {
    //    cpus = 25
    //    memory = 60.GB
    //}
    //withName: BWA_PE {
    //    cpus = 25
    //    memory = 60.GB
    //}
    withName: SPLIT_BAM_BWA {
        cpus = 10
        memory = 20.GB
    }
    withName: SPLIT_BAM {
        cpus = 60
        memory = 20.GB
    }
    withName: FASTP_REPORT {
        cpus = 12
        memory = 6.GB
    }
    withName: ONT_TRIM {
    cpus = 12
    memory = 16.GB
    }
    withName: fasta2fastq {
    cpus = 4
    memory = 10.GB
    }
    withName: MEGAHIT_SE {
    cpus = 45
    memory = 180.GB
    }
    withName: MEGAHIT_PE {
    cpus = 45
    memory = 180.GB
    }
    withName: CAT_NR {
    cpus = 40
    memory = 250.GB
    }
    withName: CAT_GTDB {
    cpus = 40
    memory = 250.GB
    }
}